body {
  font-family: 'Press Start 2P', cursive, sans-serif;
  padding: 50px;
  background-color: #fff;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.todoListMain {
  min-width: 80%;
  margin: 0 auto;
}

.todoListMain .header input {
  border: 2px solid #FFF;
  max-width: 250px;
}

.todoListMain .header button {
  margin: 10px 10px 10px 5px;
}

.todoListMain .theList {
  list-style: none;
  color: red;
  padding-left: 0;
  width: 250px;
}

.todoListMain .theList li {
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px;
  list-style: none;
}

ul.theList {
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-direction: column-reverse;
}


.theList li {
  color: #333;
  background-color: rgba(255, 255, 255, .5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px #333;
  transition: background-color .2s ease-out;
}

.todoListMain .theList li:hover {
  background-color: pink;
  cursor: pointer;
}